################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IIT BHU Fest/Vista/Data
/Sapient Challenge/household.zip
